DROP SCHEMA homework CASCADE;
CREATE SCHEMA homework;
CREATE TABLE homework.area (
    area_id      integer PRIMARY KEY,
    area_name    text NOT NULL
);
CREATE TABLE homework.employer (
    employer_id      SERIAL PRIMARY KEY,
    employer_name    text NOT NULL,
    area_id          integer NOT NULL REFERENCES homework.area (area_id) ON DELETE CASCADE
);
CREATE TABLE homework.vacancy (
    vacancy_id            SERIAL PRIMARY KEY,
    employer_id           integer NOT NULL REFERENCES homework.employer (employer_id) ON DELETE CASCADE,
    position_name         text NOT NULL,
    compensation_from     integer,
    compensation_to       integer,
    compensation_gross    boolean,
    created_at            timestamp DEFAULT now()
);
CREATE TABLE homework.applicant (
    applicant_id      SERIAL PRIMARY KEY,
    applicant_name    text NOT NULL,
    area_id           integer REFERENCES homework.area (area_id) ON DELETE SET NULL
);
CREATE TABLE homework.resume (
    resume_id             SERIAL PRIMARY KEY,
    applicant_id          integer NOT NULL REFERENCES homework.applicant (applicant_id) ON DELETE CASCADE,
    position_objective    text
);
CREATE TABLE homework.vacancy_resume (
    relation_id    SERIAL PRIMARY KEY,
    vacancy_id     integer NOT NULL REFERENCES homework.vacancy (vacancy_id) ON DELETE CASCADE,
    resume_id      integer NOT NULL REFERENCES homework.resume (resume_id) ON DELETE CASCADE,
    created_at     timestamp DEFAULT now(),
    CONSTRAINT unique_relations UNIQUE(vacancy_id, resume_id)
);

